h3 {
	margin-top:5px;
}


body {
	background-image: url('../images/leather.jpg');
	color: #474747;
}

.outercontainer {
	background-color: white;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 56px #000;
	padding-top: 40px;
	padding-bottom: 40px;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 1px solid rgba(153, 153, 153, 0.37);
}

.glyphicon {
	position: initial;
	}
	

/* for extra small screens */
/* for media players and phones */
@media screen and (max-width: 767px) {
  	.outercontainer {
	background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 56px #000;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 20px 10px;
	}
	
	.page-header {
		padding-bottom: 0;
		margin: 0;
		border-bottom: none;
	}
	
	.bottom-line {
		border-bottom: 1px solid #eeeeee;
	}
	
	.page-header-buttons {
		padding-bottom: 50px;
		margin: 0;
		border-bottom: none;
		margin-top:0;
	}
	
	h1 {
		white-space: nowrap;
		font-size: 150%;
		margin-top:0;
	}
	
	.row {
		margin-right: 0;
		margin-left: 0;	
		margin-bottom: 15px;
	}
	
	.no-margin-bottom {
		margin-bottom:0;
	}
	
	.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	
	.no-padding-right {
		padding-right: 0;
	}
	
	.no-padding-left {
		padding-left: 0;
	}
	
	.add-margin-right {
		margin-right: 10px;	
	}
	
	.add-margin-top {
		margin-top: 15px;	
	}
	
	.no-margin-right {
		margin-right:0;
	}
}

/* for small screens */
/* for tablets and phablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
  	.page-header {
		padding-bottom: 0;
		margin: 0;
		border-bottom: none;
	}
	
	.bottom-line {
		border-bottom: 1px solid #eeeeee;
	}
	
	.page-header-buttons {
		padding-bottom: 60px;
		margin: 0;
		border-bottom: none;
		margin-top:0;
	}
	
	h1 {
		margin-top:0;
	}
	.row {
		margin-right: 0;
		margin-left: 0;	
		margin-bottom: 15px;
	}
	
	.no-margin-bottom {
		margin-bottom:0;
	}
	.btn.btm-primary.pull-right {
		margin-top: 10px;
	}
	
	.input-group.col-md-3.pull-left.margin-right-1em {
		padding-bottom: 10px;
		margin-right: 0px;
	}
	
	.col-xs-12.col-sm-4.col-md-3.col-lg-3 {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.add-padding-right {
		padding-right: 10px;
	}
	
	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.no-padding-right {
		padding-right: 0;
	}
	
	.no-padding-left {
		padding-left: 0;
	}
	
	.no-margin-right {
		margin-right:0;
	}
	
	.add-margin-bottom {
		margin-bottom: 10px;	
	}
	
	.add-margin-right {
		margin-right: 10px;	
	}
	
	.add-margin-top {
		margin-top: 15px;	
	}
}

/* for medium screens */
/* for large tablets and laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
	
  	.page-header {
		padding-bottom: 0;
		margin: 0;
		border-bottom: none;
	}
	
	.bottom-line {
		border-bottom: 1px solid #eeeeee;
		margin-top: 10px;
	}
	
	.page-header-buttons {
		padding-bottom: 60px;
		margin: 0;
		border-bottom: none;
		margin-top:0;
	}
	
	h1 {
		margin-top:0;
	}
	
	.row {
		margin-right: 0;
		margin-left: 0;	
		margin-bottom: 15px;
	}
	.no-margin-bottom {
		margin-bottom:0;
	}
	
	.no-margin-right {
		margin-right:0;
	}
	
	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.no-padding-right {
		padding-right: 0;
	}
	
	.no-padding-left {
		padding-left: 0;
	}
	
	.add-margin-right {
		margin-right: 10px;	
	}
	
	.add-margin-top {
		margin-top: 15px;	
	}
}

/* for larger screens */
/* for large laptops and desktop computers */
@media screen and (min-width: 1200px) {
	.page-header {
		padding-bottom: 0;
		margin: 0;
		border-bottom: none;
	}
	
	.bottom-line {
		border-bottom: 1px solid #eeeeee;
		margin-bottom: 15px;
	}
	
	.page-header-buttons {
		padding-bottom: 60px;
		margin: 0;
		border-bottom: none;
		margin-top:0;
	}
	
	h1 {
		margin-top:0;
	}
	
	.no-padding {
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.no-padding-right {
		padding-right: 0;
	}
	
	.no-padding-left {
		padding-left: 0;
	}
	
	.info-page-left-column {
		width:30%;
	}
	
	.info-page-right-column {
		width:70%;
	}
	
	.row {
		margin-right: 0;
		margin-left: 0;	
		margin-bottom: 15px;
	}
	
	.no-margin-bottom {
		margin-bottom:0;
	}
	
	.no-margin-right {
		margin-right:0;
	}
	
	.pagination {
		margin-top: 0;	
	}
	
	.add-margin-right {
		margin-right: 10px;	
	}
	
	.add-margin-top {
		margin-top: 15px;	
	}
	
	
	.spacerdshbrd {
	margin-left:16.6%;
	}

}