/*.bigtext {
font-size: 100px;
}
a {
	font-style: normal;
	font-weight: normal;
	font-size: 12pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}
a:link {
	color: #000000;
}
a:hover {
	color: #2FB432;
}
body {
	background-color: #DDE0BF;
	background-image: url(../background.image.jpg);
}
h1,h2,h3,h4,h5,h6 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-style: normal;
	font-weight: normal;
}
h1 {
	font-size: 34pt;
	color: #771B1D;
	text-align: center;
}
#Nav {
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
#Nav:hover {
	background-color: #2FB432;
}
#Header {
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#Header:hover {
	outline-color: #E07522;
}
body,td,th {
	color: #000000;
}
*/

/*Pagination CSS*/
body {
	width: 800px;
    margin: 0 auto;
    padding: 0;
}
#loading {
	width: 100%;
    position: absolute;
    top: 100px;
    left: 100px;
	margin-top:200px;
}
#container .pagination ul li.inactive,
#container .pagination ul li.inactive:hover {
	background-color:#ededed;
    color:#bababa;
    border:1px solid #bababa;
    cursor: default;
}
#container .data ul li {
	list-style: none;
    font-family: verdana;
    margin: 5px 0 5px 0;
    color: #000;
    font-size: 13px;
}

#container .pagination {
	width: 800px;
	height: 25px;
}
#container .pagination ul li {
	list-style: none;
    float: left;
    border: 1px solid #006699;
    padding: 2px 6px 2px 6px;
    margin: 0 3px 0 3px;
    font-family: arial;
    font-size: 14px;
    color: #006699;
    font-weight: bold;
    background-color: #f2f2f2;
	}
#container .pagination ul li:hover {
	color: #fff;
    background-color: #006699;
    cursor: pointer;
}
.go_button {
	background-color:#f2f2f2;border:1px solid #006699;color:#cc0000;padding:2px 6px 2px 6px;cursor:pointer;position:absolute;margin-top:-1px;
}
.total {
	float:right;font-family:arial;color:#999;
}