body
{
  color: #000;
  font-family: "Segoe UI" , "Segoe WP" , "ASAP", SegoeWP, Helvetica, Arial, tahoma;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-image:url("../images/leather.jpg");
  background-repeat: repeat;   
}

h1
{
    color:black;
    font-size:24pt;
    font-weight:100;
}

h2
{
    color:white;
    font-size:24pt;
    font-weight:100;
}

h3
{
    color:white;
    font-size:18pt;
    font-weight:100;
	font-style:italic;
}

.block-item-list-1 {
    margin: 0px;
    padding: 0px;
    height: 400px;
	width: 785px;
	text-decoration: none;
}

.block-item-list-2 {
    margin: 0px;
    padding: 0px;
    height: 400px;
	width: 942px;
	text-decoration: none;
}

.double-panel, .single-panel {
    margin: 0px;
    padding: 0px;
    display: inline;
    height: 400px;
	width: 630px;
	margin: auto;
}

.double-panel {
    width: 630px;
	margin: auto;
}

.single-panel {
    width: 250px;
	margin: auto;
}

.block-item-medium, .block-item-large, .block-item-wide {
    border: none;
    padding: 4px;
    margin: 12px 21px 12px 0px;
    color: white;
    background-color: #f2f2f2;
    -webkit-box-shadow: 5px 5px 20px 0px #1A1B1F;
    -moz-box-shadow: 5px 5px 20px 0px #1a1b1f;
    box-shadow: 5px 5px 20px 0px #1A1B1F;
    float: left;
    list-style-type: none;
}

.block-item-large {
	border-radius: 25px;
    height: 128px;
    width: 128px;
	opacity: .8;
}

.block-item-large:hover {
    opacity: 1.0;
}

.block-item-medium {
    height: 48px;
    width: 48px;
    background-color: #f2f2f2;
}

.block-item-wide {
    height: 84px;
    width: 168px;

    background-color: #f2f2f2;
}


div.main-wrapper
{
  height:600px;
  width:100%;
  margin:0px;
  padding:0px;
}
