/*
	Education Module
	Spring 2014			Anthony Barkley, Andrew Emerson, Kelsi Thomas
	Revised Fall 2014	Morgan House, Nellie Raihala, Gib Smith, Alex Tebo
*/

html{
	height:100%;
	padding:0;
	margin:0;
	width:auto;
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-color: #CFB873;
	background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #424F71 25%);
	background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #424F71 25%);
	background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #424F71 25%);
	background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #424F71 25%);
	background-image: linear-gradient(bottom, #CCCCCC 0%, #424F71 25%);
	color: #CFB873;
	font-size: 1em;
}

/* unvisited link */
a:link{
	color: #000000;
}

/* visited link */
a:visited {
    color: #000000;
}

/* mouse over link */
a:hover {
    color: #000000;
}

/* selected link */
a:active {
    color: #000000;
}

body{
	font-family: Times New Roman;
}
a{
	text-decoration:none;
}
h1{
	font-size:2em;
	color: #CFB873;
	text-align: center;
	margin-top: -5px;
	margin-bottom:-5px;
}
h2{
	font-size:1.1em;
	color: white;
	text-align: center;
}
h3{
	font-size:1em;
	color: #02558B;
}
h4{
	font-size:2em;
	color: #CC0000;
	text-align: center;
	margin-top: 25px;
}
p3{
	color: white;
	font-size:1.2em;
}


/*--------------------Drop down menu--------------------*/

#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  border: none;
  line-height: 1;
  margin: 0;
  padding: 0;
}
#cssmenu {
  height: 37px;
  display: block;
  border: 1px solid;
  border-radius: 5px;
  width: auto;
  border-color: #080808;
  margin: 0;
  padding: 0;
}
#cssmenu > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu.align-center > ul {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmenu > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 12px 20px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#cssmenu > ul > li > a:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#cssmenu ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#cssmenu > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
  border-color: #3f3f3f;
}
#cssmenu ul li.has-sub:hover > ul,
#cssmenu ul li.has-sub:hover > div {
  display: block;
}
#cssmenu > ul > li.has-sub > a:hover,
#cssmenu > ul > li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#cssmenu ul li > ul,
#cssmenu ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
  padding: 10px 0;
}
#cssmenu ul li > ul {
  width: 200px;
}
#cssmenu ul ul ul {
  position: absolute;
}
#cssmenu ul ul li:hover > ul {
  left: 100%;
  top: -10px;
  border-radius: 5px;
}
#cssmenu ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px 20px;
}
#cssmenu,
#cssmenu ul ul > li:hover > a,
#cssmenu ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#cssmenu > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}
#cssmenu ul ul a:hover {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}
/*----------Logout Section----------*/
#cssmenu > ul2 {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#cssmenu > ul2 > li2 {
  list-style: inside none;
  float: right;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu > ul2 > li2 > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  padding: 12px 20px;
}
#cssmenu,
#cssmenu ul2 ul2 > li2:hover > a,
#cssmenu ul2 ul2 li2 a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#cssmenu > ul2 > li2 > a:hover {
  background: #080808;
  color: #ffffff;
}
/*-----End of Logout section-----*/

/*----------------End of Drop Down Menu----------------*/


#wrapper{
	width:600px;
	background-color: transparent;
	text-align:left;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-radius:2.5em;
	/* min-height:200px; */
}
#wrapper2{
	width:600px;
	background-color: transparent;
	text-align:left;
	margin-left: 150px;
	margin-right: auto;
	border-radius:2.5em;
	min-height:200px;
	position: absolute;
}
#wrapper3{
	width:600px;
	background-color: transparent;
	text-align:left;
	margin-left: auto;
	margin-right: 150px;
	border-radius:2.5em;
	min-height:200px;
}
#viewingwrapper{
	width:340px;
	background-color: transparent;
	text-align:left;
	margin-left: 10px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:200px;
	position: absolute;
}
#viewingwrappertable{
	width:1030px;
	background-color: gray;
	text-align:left;
	margin-left: 360px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
#viewingwrapperstaff{
	width:auto;
	background-color: gray;
	text-align:left;
	margin-left: 360px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
#viewingwrappertable2{
	width:1500px;
	background-color: gray;
	text-align:left;
	margin-left: -20px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
	font-size: 80%;
}
/*---------------- Assign Class Page ----------------*/
#assignclass{
	width:300px;
	background-color: transparent;
	text-align:left;
	margin-left: 0px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:200px;
	position: absolute;
}
#assignteacher{
	width:380px;
	background-color: transparent;
	text-align:left;
	margin-left: 290px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
#teacherenrolled{
	width:350px;
	background-color: gray;
	text-align:left;
	margin-left: 1050px;
	margin-right: 20px;
	margin-top: 40px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
#assignstudent{
	width: 380px;
	background-color: transparent;
	text-align:left;
	margin-left: 330px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
#studentenrolled{
	width:350px;
	background-color: gray;
	text-align:left;
	margin-left: 1050px;
	margin-right: 10px;
	margin-top: 310px;
	border-radius:2.5em;
	min-height:auto;
	position: absolute;
}
/*---------------- End Assign Class Page ----------------*/

#addingtitle{
	font-weight: bolder;
	font-size: 110%
}
#addinginfo{
	text-align: left;
	padding-left:80px;
	padding-right:20px;
}
#assignment{
	width:1200px;
	background-color: transparent;
	border: solid 5px sky blue;
	text-align:center;
	margin: 0 auto;
	border-radius:1.5em;
	height:auto;
}
header{
	text-align:left;
	margin:1em 0 0 1em;
	padding-bottom: 1em;
}
section{
	text-align:left;
	padding-left:20px;
	padding-right:20px;
}
footer{
	text-align:center;
	height:40px;
	background-color:lightblue;
	border-bottom-right-radius:1.2em;
	border-bottom-left-radius:1.2em;
}

/* Education Module CSS */
#addclassdiv {
	width: 1200px;
	text-align: left;
	margin-left: 400px;
	margin-right: 500px;
	display: block;
	float: none;
}
#editclass{
	text-align: left;
	padding-left:490px;
	padding-right:20px;
}
#contactinfotitle{
	font-weight: bolder;
	font-size: 110%
}

#studentbirthdays{
	width:200px;
	background-color: transparent;
	text-align:left;
	margin-left: 50px;
	margin-right: auto;
	border-radius:2.5em;
	min-height:100px;
	position: absolute;
}
#studentcontactinfo{
	width:200px;
	background-color: transparent;
	text-align:left;
	margin-left: auto;
	margin-right: 50px;
	border-radius:2.5em;
	min-height:100px;
}	
	
#editstudent{
	text-align: left;
	padding-left:490px;
	padding-right:20px;
}

#teacher_review{
	text-align: left;
	padding-left:490px;
	padding-right:20px;
}

#helper_review{
	text-align: left;
	padding-left:490px;
	padding-right:20px;
}	
*
CSS RESET
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

body {
	line-height: 1;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	border:transparent;
	margin: auto auto auto auto; 
}

/* CSS Animations */
@keyframes "login" {
 0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	filter: alpha(opacity=0);
   	opacity: 0;
   	margin-top: -50px;
 }
 100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   	filter: alpha(opacity=100);
   	opacity: 1;
   	margin-top: -75px;
 }

}

@-moz-keyframes login {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }

}

@-webkit-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }

}

@-ms-keyframes "login" {
 0% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }

}

@-o-keyframes "login" {
 0% {
   filter: alpha(opacity=0);
   opacity: 0;
   margin-top: -50px;
 }
 100% {
   filter: alpha(opacity=100);
   opacity: 1;
   margin-top: -75px;
 }

}

/* Main CSS */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: sans-serif;
	
}

#slick-login {
	width: 220px;
	height: 155px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -110px;
	margin-top: -75px;

	-webkit-animation: login 1s ease-in-out;
	-moz-animation: login 1s ease-in-out;
	-ms-animation: login 1s ease-in-out;
	-o-animation: login 1s ease-in-out;
	animation: login 1s ease-in-out;
}

#slick-login label {
	display: none;
}

.placeholder {
    color: #444;
}

#slick-login input[type="text"],#slick-login input[type="password"] {
	width: 100%;
	height: 40px;
	position: relative;
	margin-top: 7px;
	font-size: 14px;
	color: #444;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	padding-left: 20px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);
	background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F2F2 100%);

	-webkit-box-shadow: inset 0px 2px 0px #d9d9d9;
	box-shadow: inset 0px 2px 0px #d9d9d9;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#slick-login input[type="text"]:focus,#slick-login input[type="password"]:focus {
	-webkit-box-shadow: inset 0px 2px 0px #a7a7a7;
	box-shadow: inset 0px 2px 0px #a7a7a7;
}
#slick-login input:first-child {
	margin-top: 0px;
}
#slick-login input[type="submit"] {
	width: 100%;
	height: 50px;
	margin-top: 7px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0px -1px 0px #5b6ddc;
	outline: none;
	border: 1px solid rgba(0, 0, 0, .49);

	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;

	background-color: #5466da;
	background-image: -webkit-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -moz-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -o-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: -ms-linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	background-image: linear-gradient(bottom, #5466da 0%, #768ee4 100%);
	
	-webkit-box-shadow: inset 0px 1px 0px #9ab1ec;
	box-shadow: inset 0px 1px 0px #9ab1ec;
	
	cursor: pointer;

	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
#slick-login input[type="submit"]:hover {
	background-color: #5f73e9;
	background-image: -webkit-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -moz-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -o-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: -ms-linear-gradient(bottom, #5f73e9 0%, #859bef 100%);
	background-image: linear-gradient(bottom, #5f73e9 0%, #859bef 100%);

	-webkit-box-shadow: inset 0px 1px 0px #aab9f4;
	box-shadow: inset 0px 1px 0px #aab9f4;
	margin-top: 10px;
}
#slick-login input[type="submit"]:active {
	background-color: #7588e1;
	background-image: -webkit-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -moz-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -o-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: -ms-linear-gradient(bottom, #7588e1 0%, #7184df 100%);
	background-image: linear-gradient(bottom, #7588e1 0%, #7184df 100%);

	-webkit-box-shadow: inset 0px 1px 0px #93a9e9;
	box-shadow: inset 0px 1px 0px #93a9e9;
}